/*
* body
* header
* slide show
* advantages-mission-vision
* how we works and services
* footer
******** contact ***********
* breadcrumb
* contact info and contact form
********** about ***********
* 
*/

body{
    margin: 0;
    padding: 0;
    outline: 0;
    background: url('../img/body.png');
}

ul{
    padding:0;
}

/* header-----------------------------------*/
.header{
    margin-top: 30px;
}
.company{
}
.company-name{
    margin-left: -15px;
    color: #fff;
    font-size: 40px;
    font-family: Arial;
}
.company-title{
    color: #fff;
    font-size: 15px;
    font-family: Verdana;
    margin-left: -15px;
    font-family: "Josefin Sans";
}
.header-right{
    margin-top: 10px;
}
.header-tab{
    margin-top: 10px;
}
.header-tab-ul{
    padding: 0;
}
.header-tab-ul li{
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border-right: solid 1px #A1A1A2;
    list-style-type: none;
}
.header-tab-ul li a{
    color: #A1A1A2;
    font-family: Arial;
    text-decoration: none;
}
.header-tab-ul li a:hover{
    color: #068D92;
}
.search{
    margin: 0;
    float: right;
}
.search-fld{
    position: relative;
    left: 67px;
    border:none;
    height: 40px;
    padding-left: 5px;
    font-family: Arial;
    font-size: 16px;
    background: #565758;
    color: #fff;
    opacity: .3;
}
.search-submit-btn{
    border:none;
    height: 40px;
    background: #484A4A;
    opacity: .3;
    float: right;
    margin-right: -15px;
}
.menu-div-tag{
    margin-top: 40px;
}
.menu-ul{
    border-top: solid 5px #068D92;
}
.menu-ul li{
    float: left;
    list-style-type: none;
    width: 195px;
    height: 50px;
    background: #313435 url('../img/inter-bg.png');
    border-right: ridge 2px #141616;
}
.menu-ul li a{
    width: 195px;
    height: 50px;
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 48px;
}
.menu-ul li a:hover{
    background: #068D92;
    transition: all 0.5s ease 0s;
}
.menu-ul .active-menu{
    background: #068D92;
}

/* slide show--------------------------------*/
.slide-show{
    margin-top: 15px;
    height: 400px;
    background: #565758;
}

/*advantages-mission-vision------------------*/
.advantages-mission-vision{
    background: #313435 url('../img/inter-bg.png');
    color: #fff;
    padding-bottom:60px;
}
.advantages, .mission, .vision{
    font-family: "Muli";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.8em;
    margin-top: 80px;
}
.advantages{
    margin-left: 50px;
}
.amv-heading{
    border-bottom: 1px solid #767677;
    font-size: 40px;
    text-align: center;
    font-family: "Josefin Sans";
    padding-bottom: 25px;
}
.amv-title{
    color: #3276B1;
    font-size: 20px;
    margin-top:20px;
}
.amv-more-btn{
    margin-top: 40px;
    margin-left: 80px;
    padding-left: 20px;
    padding-right: 20px;
}

/*how we works and services------------*/
.how-we-works-services{
    color: #fff;
    margin-top: 50px;

}
.how-we-works-heading,.service-heading{
    font-size: 40px;
    font-family: "Josefin Sans";
}
#tabs{
    background:transparent;
    border:none;
    border-radius:0px;
}
.ui-tabs .ui-tabs-panel{
    background: #2A2A2C;
    border-radius: 0px 6px 6px 6px;
}
.ui-tabs-nav{
    padding: 0;
    background:transparent;
    border: none;
    border-radius: 0px;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
    background:#353535;
    border-radius: 3px 3px 0px 0px;
    padding: 1em 2em;
}
.ui-tabs .ui-tabs-nav .ui-tabs-anchor:hover{
    background:#2A2A2C;
}
.ui-tabs-active,.ui-state-active,.ui-state-default{
    background: #2A2A2C;
    border: none;
}
.step-text-div-tag{
    margin-top: 27px;
}

.service-list li{
    margin-left: 20px;
    color: #575D5E;
    font-size: 20px;
}
.service-list li a{
    font-size: 15px;
    text-transform: uppercase;
}
.service-list li:hover{
    list-style-type: disc;
    color:#5BB5FA;
    font-size: 20px;
}
/*footer----------------------------*/
.footer{
    margin-top: 50px;
    border-top: solid 12px #373939;
    color: #fff;
    padding-bottom: 60px;
    font-family: Verdana;
}

.copy-right,.about-us,.follow-us{
    margin-top: 40px;
}
.footer-heading{
    padding-bottom: 15px;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
}
.about-us-title{
    font-family: "Josefin Sans";
    font-size: 17px;
    font-style: normal;
    font-weight: 300;
    color: #3276B1;
}
.social-link ul li{
    float: left;
    list-style-type: none;
    margin-left: 5px;
    height: 30px;
    overflow: hidden;
    width: 30px;
}
.social-link ul li:hover{
    opacity: .3;
    transition: all 0.3s ease 0s;
}

/********************** contact ***********************/

/* breadcrumb-------------------------*/
.site-map{
    margin-top: 15px;
    height: 400px;
    background: #565758;
}
.breadcrumb-div-tag{
    margin-top: 15px;
    height: 150px;
    background: #565758;
}
.breadcrumb-heading{
    color: #fff;
    margin-left: 20px;
    font-family: "Josefin Sans";
}
.breadcrumb{
    background: transparent;
    border-radius: 0;
    font-size: 20px;
    margin-left: 7px;
}

/*contact info and contact form---------*/
.contact-div-tag{
    margin-top: 30px;
}
.contact-heading{
    color: #fff;
    font-size: 40px;
    font-family: "Josefin Sans";
}
.contact-address{
    color: #727272;
    text-transform: uppercase;
    margin-top: 15px;
}
.contact-form{
    margin-top: 10px;
}
.contact-form-fld{
    border:none;
    height: 40px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 16px;
    background: #565758;
    color: #fff;
    opacity: .3;
    margin-top: 5px;
    width: 224px;
}
.contact-form-msg-fld{
    padding-top: 10px;
    padding-left: 10px;
    font-family: Arial;
    font-size: 16px;
    background: #565758;
    color: #fff;
    opacity: .3;
    margin-top: 5px;
    width: 680px;
    border:none;
    resize:none;
    height: 200px;
}
.contact-submit-btn{
    padding: 10px 25px;
    margin-top: 10px;
}
.contact-form-msg-fld:focus,.contact-form-fld:focus{
    border:solid 1px #5BB6FC;
    transition: all 0.5s ease 0s;
}

/*about-------------------------*/
.about-div-tag{
    margin-top: 50px;
}
.company-content{
    margin-top: 25px;
}
.company-img{
    margin-left: -15px;
}
.company-text-1{
    color:#989899;
    font-family:Muli;
}
.company-text-2{
    margin-top: 20px;
    text-transform: uppercase;
    float: left;
    color:#FFFFFF;
}
.company-director-title{
    margin-top: 5px;
    float: left;
    color:#3276B1
}
.company-director-details{
    margin-top: 5px;
    float: left;
    color:#989899;
}
.offer-content{
    margin-top: 25px;
}
.offer-title{
    text-transform: uppercase;
    color:#3276B1;
}
.offer-details{
    margin-top: 5px;
    float: left;
    color:#989899;
}

.testimonial-heading{
    margin-top: 50px;
    color: #fff;
    font-size: 40px;
    font-family: "Josefin Sans";
    text-transform: uppercase;
}
.testimonial-content{
    margin-top: 25px;
}
.testimonial:hover .testimonial-text{
    color:#3276B1;
}
.testimonial-text{
    float: left;
    color: #fff;
}
.testimonial-client{
    margin-top: 5px;
    float: left;
    color:#3276B1;
    text-transform: uppercase;
}
.all-testimonial-btn{
    margin-top: 30px;
    padding: 10px 30px;
}

/* portfolio ------------------*/
.portfolio-category{
    margin-top: 50px;
}
.portfolio-category-heading{
    color: #fff;
    font-size: 20px;
    font-family: "Josefin Sans";
    text-transform: uppercase;
}
.portfolio-category-tablist{
    color:#3276B1;	
    text-transform: uppercase;
    margin-top: 7px;
}
.portfolio-category-tablist ul li{
    cursor: pointer;
    float: left;
    margin-left: 10px;
    list-style-type: none;
}
.portfolio-category-tablist ul li:hover{
    color:#989899;
}
.portfolio-content{
    color: #fff;
    margin-top: 30px;
}
.portfolio-heading{
    color:#3276B1;	
    text-transform: uppercase;
}
.portfolio-more-btn{
    padding: 10px 25px;
}

/* portfolio details ---------------------------*/
.portfolio-details-content{
    color:#989899;
    margin-top: 70px;
}
.portfolio-info{
    text-transform: uppercase;
    border-top: solid 1px #CDCDCD;
    border-bottom: solid 1px #CDCDCD;
    padding-top: 15px;
    padding-bottom: 15px;
}
.portfolio-details-text{
    margin-top: 15px;
}

/*services -------------------------------------*/
.service-div-tag,.service-overview-div-tag{
    margin-top: 50px;
    color: #fff;
}
.service-heading,.service-overview-heading{
    text-transform: uppercase;
    font-size: 40px;
}
.service-name{
    margin-top: 15px;
}
.service-list li a{
    font-size: 14px;
}
.featured-service-content{
    margin-top: 5px;
    color:#989899;
    padding-bottom: 20px;
}
.service-content{
    margin-top: 20px;
}
.service-overview-div-tag{
    margin-top: 50px;
    color: #fff;
    padding-bottom: 20px;
}
.service-overview-name{
    text-transform: uppercase;
    color: #3276B1;
    font-size: 15px;
}
.sevice-single-overview{
    margin-top: 20px;
}

/***Update style***/
.ui-tabs .ui-tabs-nav li{
    border: none !important;

}
.ui-tabs .ui-tabs-nav li.ui-tabs-active{
    background: #2A2A2C; 
}
.menu-ul li:last-child{
    border-right:none;
}


.ui-widget-header{
    font-family: "Muli";
    font-size: 13px;
    font-style: normal;
    font-weight: 300;
}
.ui-widget {
    font-family: "Muli";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.8em;
}

.about-us-text{
    font-family: "Muli";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 1.8em;
}


.carousel-inner {
    background-color: rgba(0, 0, 0, 0);
    margin:0;
    padding:0;
}

.carousel-control {
    background: none repeat scroll 0 0 #222222;
    border: 3px solid #FFFFFF;
    border-radius: 23px;
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 100;
    height: 40px;
    left: 15px;
    line-height: 24px;
    margin-top: -20px;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    top: 40%;
    width: 40px;
    display:none;
    transition: all 1s ease 0s;
}
.slide-show:hover .carousel-control {
    display:block;
    transition: all 1s ease 0s;
}

.pointer{
    cursor: pointer;
}

.portfolio-more{
    color:#3276B1;	
}

.modal-title{
    text-align: center;
}

.modal-dialog{
    color:#333333;
}

label{
    color: #FFFFFF;
    font-family: "Muli";
    font-size: 14px;
    font-style: normal;
    padding: 5px;
    min-width: 170px;
}
.modal-body{ padding-left:30px !important;}